<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Home</title>
</head>

<body>

    <header>
        <!--inicio cabeçalho-->
        <div class="logo">
            <a href="/">
            <img src="assets/logo.png" alt="Logo Foodfy">
            </a>
            
            <a href="/sobre.html">Sobre</a>
            <a href="/receitas.html">Receitas</a>
        </div>
    </header>
    <!--fim cabeçalho-->

    
    <div class="top__content">
        <div class="text">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <div class="image__chef">
            <img src="assets/chef.png" alt="Imagem chef">
        </div>
    </div>


    <div id="title">
        <h1>Mais acessadas</h1>
    </div>

    <section class="cards">
        <div class="card">
            <div class="card__image-container">
                <img src="assets/burger.png" alt="Burguer">
            </div>

            <div class="card__content">
                    <p class="title">Triplo bacon burguer</p>
                <div class="card__info">
                    <p class="author">por Jorge Relato</p>
                </div>
             
            </div>
        </div>

        <div class="card">
            <div class="card__image-container">
                <img src="assets/pizza.png" alt="Burguer">
            </div>

            <div class="card__content">
                    <p class="title">Pizza 4 estações</p>
                <div class="card__info">
                    <p class="author">por Fabiana Melo</p>
                </div>
             
            </div>
        </div>

        <div class="card">
            <div class="card__image-container">
                <img src="assets/espaguete.png" alt="Burguer">
            </div>

            <div class="card__content">
                    <p class="title">Espaguete ao alho</p>
                <div class="card__info">
                    <p class="author">por Júlia Kinoto</p>
                </div>
             
            </div>
        </div>

        <div class="card">
            <div class="card__image-container">
                <img src="assets/lasanha.png" alt="Burguer">
            </div>

            <div class="card__content">
                    <p class="title">Lasanha mac n´cheese</p>
                <div class="card__info">
                    <p class="author">por Juliano Vieira</p>
                </div>
             
            </div>
        </div>

        <div class="card">
            <div class="card__image-container">
                <img src="assets/doce.png" alt="Burguer">
            </div>

            <div class="card__content">
                    <p class="title">Docinhos pão-do-céu</p>
                <div class="card__info">
                    <p class="author">por Ricardo Golvea</p>
                </div>
             
            </div>
        </div>

        <div class="card">
            <div class="card__image-container">
                <img src="assets/asinhas.png" alt="Burguer">
            </div>

            <div class="card__content">
                    <p class="title">Asinhas de frango ao barbecue</p>
                <div class="card__info">
                    <p class="author">por Vânia Steroski</p>
                </div>
             
            </div>
        </div>

    </section>
    

    <footer>
        <p>Todos os direitos reservados, receitas Foodfy</p>
    </footer>
</body>

</html>